@import './variables.scss';

.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-width: 90%;
  min-height: 90vh;
  background: rgb(255 255 255 / 25%);
  backdrop-filter: blur(16px);
  border-radius: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  padding: 2rem;
  //max-width: 600px;
}

.title a {
  color: $primary-color;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
}

.connectWalletButton {
  position: fixed;
  top: 24px;
  right: 24px;
  background: rgb(255 255 255 / 50%);
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.connectWalletButton:hover {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.connectWalletButton:active {
  box-shadow: rgb(149 157 165 / 60%) 0px 8px 24px;
}

.connectWalletButton>svg {
  margin-right: 6px;
}